.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #282c34;
	color: white;
	height: 50px;
}

.header__logo {
	pointer-events: none;
	height: 50px;
}

.header__title {
	flex: 1;
	text-align: left;
	font-weight: bold;
	font-size: 17px;
	color: #61dafb;
}

.header__logout {
	font-size: 20px;
	padding-right: 20px;
	cursor: pointer;
}
